<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<title>게시판</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/w3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"	charset="utf-8"></script>   
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <script src="http://d3js.org/topojson.v1.min.js"></script>
<!-- custom css-->
<link rel="stylesheet" type="text/css" href="seoul.css">
<!-- tooltipster -->
<link rel="stylesheet" type="text/css" href="css/tooltipster.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #bor{
        text-align:center;
        height:20px;
        font-size:40px;
    }
div.onboard{
background-color: #d4d4d4}

.w3-image {-webkit-filter: opacity(200%);}

#box1 { text-align: center; } /* 게시판 글씨 중간 위치 */


/* <header class="w3-display-container w3-content w3-center"
		style="max-width: 1000px"> */

.board{font-family: 'Jua', sans-serif;}

table.type09 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

table.type09 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}

table.type09 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #d4d4d4;
}

table.type09 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #d4d4d4;
  border: none;
  color: #black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%;
	line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-image: url("img/bg2.png");
	min-height: 100%;
}

</style>
</head>

<body>
<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
			<a href="/homepage.html" class="w3-bar-item w3-button w3-wide"><img src="../img/logo.png"></a>
			<!-- Right-sided navbar links -->
			<div class="w3-right w3-hide-small">
				<a href="/homepage.html#about" class="w3-bar-item w3-button">ABOUT</a> 
				<a href="/youtube.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i>STUDY</a> 
				<a href="/signup.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i>MARKET ANALYSIS</a>
				<a href="/visualize.html" class="w3-bar-item w3-button" ><i class="fa fa-usd"></i>MARKET STATUS</a> 
				<a href="/process/board" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>BOARD</a>
			</div>
			<!-- Hide right-floated links on small screens and replace them with a menu icon -->

			<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
				onclick="w3_open()"> <i class="fa fa-bars"></i>
			</a>
		</div><br>
		
	</div><br>

				
	<table align="center">
			<tr><td height=100px colspan="2"></td></tr>    <!-- 간격띠는 행 -->
			<tr><td colspan="2" align="center"><img width="800px" style="overray" src = "../img/frame.png"></a></td></tr>  
			<tr><th colspan="2" id ="bor">BOARD</th></tr>
		<br><br><br>
		<div class= "onboard">
		</div>
		

		<table class="type09" width="100%">
			<tr>
				<th scope="cols" id= "box1">No.</th>
				<th scope="cols" id= "box1">제목</th>
				<th scope="cols" id= "box1">글쓴이</th>
				<th scope="cols" id= "box1">조회수</th>
				<th scope="cols" id= "box1">날짜</th>
				<!--<th>내용</th>-->
				<th scope="cols" id= "box1">변경</th>
				<th scope="cols" id= "box1">삭제</th>
			</tr>
			<% for(var i = 0; i < rows.length; i++){ %>
			<tr>
				<td scope="row"><%=rows[i].no%></td>
				<td scope="row"><a href="/board/read/<%=rows[i].no%>"><%=rows[i].title%></a></td>
				<td scope="row"><%=rows[i].writer%></td>
				<td scope="row"><%=rows[i].hit%></td>
				<td scope="row"><%=rows[i].moddate%></td>
				<td scope="row"><a href="#">변경</a></td>
				<td scope="row"><a href="/delete/<%= rows[i].no %>">삭제</a></td>
			</tr>


			<% } %>
		</table>
		<br><br>
		<form method="get" action="/process/write" align=right >
		
			<button class="button" type= "submit" style="vertical-align: middle;">
			<span>글쓰기 &#8594;</span></button>
			
		</form>
			<br><br><br><br>
			<table align="center">
		<tr><td colspan="2" align="center"><img width="800px" style="overray" src = "/img/frame2.png"></a></td></tr>    <!-- 자러왔다. 이미지  -->
			</table>
			
		<br><br>
<!-- Footer -->
	<footer class="w3-center w3-black w3-padding-64" z-index=1>
		<a href="#home" class="w3-button w3-light-grey"><i
			class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
		<div class="w3-xlarge w3-section">
			<a class="fa fa-facebook-official w3-hover-opacity" href="http://www.facebook.com/" ></a> 
			<a class="fa fa-instagram w3-hover-opacity" href="https://www.instagram.com/?hl=ko"></a> 
			<a class="fa fa-snapchat w3-hover-opacity" href=https://www.snapchat.com/></a> 
			<a class="fa fa-pinterest-p w3-hover-opacity" href="https://www.pinterest.co.kr/"></a> 
			<a class="fa fa-twitter w3-hover-opacity" href="https://twitter.com/?lang=ko"></a> 
			<a class="fa fa-linkedin w3-hover-opacity" href="https://kr.linkedin.com/"></a>
		</div>
		<p>
			Powered by <a href="http://localhost/Visualization/homepage.html"
				title="W3.CSS" target="_blank" class="w3-hover-text-green">(주)인수합병</a>
		</p>
	</footer>

</body>
</html>



