<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' >
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

</head>


<style>
table.type09{
border-style: solid;
border-color: #d4d4d4;}

#box1 { text-align: center; }
.board {
	font-family: 'Jua', sans-serif;
}
.type09{font-family: 'Nanum Gothic', sans-serif;}
.onboard {
	font-family: 'Nanum Gothic', sans-serif;
}

table.type09 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

table.type09 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}

table.type09 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}

table.type09 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #d4d4d4;
	border: none;
	color: #black;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb'; /* CSS Entities. To use HTML Entities, use &#8594;*/
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}


</style>



<body>

	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
			<a href="/homepage.html" class="w3-bar-item w3-button w3-wide"><img src="/img/logo.png"></a>
			<!-- Right-sided navbar links -->
			<div class="w3-right w3-hide-small">
				<a href="/homepage.html#about" class="w3-bar-item w3-button">ABOUT</a> 
				<a href="/youtube.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i>STUDY</a> 
				<a href="/signup.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i>MARKET ANALYSIS</a>
				<a href="/visualize.html" class="w3-bar-item w3-button" ><i class="fa fa-usd"></i>MARKET STATUS</a> 
				<a href="/process/board" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>BOARD</a>
			</div>
			<!-- Hide right-floated links on small screens and replace them with a menu icon -->

			<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
				onclick="w3_open()"> <i class="fa fa-bars"></i>
			</a>
		</div><br>
		
	</div><br>
	




	<br><br><br><br>
	<h1 class="board" id= "box1"><%= read.title %></h1>
	<table 
		class="type09">
		<tr>
			<th  id= "box1">번호</th>
			<td><%=read.no%></td>
			<th  id= "box1">조회수</th>
			<td><%=read.hit%></td>
			<th  id= "box1">글쓴이</th>
			<td><%=read.writer%></td>
		</tr>
		<tr>
			<th id= "box1">제목</th>
			<td colspan="5"><%=read.title%></td>
		</tr>
		<tr>
			<th id= "box1">작성일</th>
			<td colspan="2"><%=read.regdate%></td>
			<th id= "box1">수정일</th>
			<td colspan="2"><%=read.moddate%></td>
		</tr>
		
		<tr>
			<td colspan="6" height="400" class="inboard"><%=read.content%></td>
		</tr>
		<tr>
			<td colspan="6">
				<form method="get" action="/process/board">
					<button class="button" type="submit" style="vertical-align: middle;">
						<span>목록 &#8594;</span>
					</button>
				</form>
			</td>
		</tr>


	</table>
	</body>
	
</html>