<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    </head>
    <body>
        <h1> 창업 정보 게시판</h1>
        <table width="100%" border="1">
            <tr>
                <th>No.</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>날짜</th>
                <!--<th>내용</th>-->
                <th>변경</th>
                <th>삭제</th>
            </tr>
            <% for(var i = 0; i < rows.length; i++){ %>
                <tr>
                    <td><%=rows[i].no%></td>
                    <td><a href ="/board/read/<%=rows[i].no%>"><%=rows[i].title%></a></td>
                    <td><%=rows[i].writer%></td>
                    <td><%=rows[i].hit%></td>
                    <td><%=rows[i].moddate%></td>
                    <td><a href ="/modify/<%= rows[i].no %>">변경</a></td>
                    <td><a href = "/delete/<%= rows[i].no %>">삭제</a></td>
                </tr>
                
               
              <% } %>
        </table>
        <hr />
        <div><a href="/process/write"> 글쓰기 </a></div>
        <div><a href="/cmdpath"> cmd </a></div>
        <form action ="/create" method="get">
            
        
        
        </form>
    <script>
    </script>
    </body>
</html>
